
BandsintownProgram.zip

BandsintownProgram/sketch_160225a/map-dfw.png

BandsintownProgram/sketch_160225a/map-dfw.png

Safari/COOPER02safari/Walker.pde

Safari/COOPER02safari/Walker.pde

BandsintownProgram/sketch_160225a/map-dfw.png

sqlite_program/songs.sqlite3.db

sqlite_program/hello.rb

sqlite_program.zip

sqlite_program/hello.rb

Alice/sketch_160124a/pg11.txt

Alice/sketch_160124a/pg11.txt

Alice/sketch_160124a/pg11.txt


Alice/sketch_160124a/pg11.txt

Alice/sketch_160124a/pg11.txt

Alice/sketch_160124a/sketch_160124a.pde

Alice/sketch_160124a/sketch_160124a.pde

BandsintownProgram/sketch_160225a/data/Futura-Medium-18.vlw

BandsintownProgram/sketch_160225a/data/Futura-Medium-48.vlw

BandsintownProgram/sketch_160225a/functions.pde

sqlite_program/songs.sqlite3.db

sqlite_program/hello.rb

Alice/sketch_160124a/pg11.txt

Alice/sketch_160124a/sketch_160124a.pde

BandsintownProgram/sketch_160225a/data/Futura-Medium-18.vlw

BandsintownProgram/sketch_160225a/data/Futura-Medium-48.vlw

BandsintownProgram/sketch_160225a/functions.pde

sqlite_program.zip

sqlite_program/hello.rb

Alice/sketch_160124a/pg11.txt

Alice/sketch_160124a/pg11.txt

Alice/sketch_160124a/sketch_160124a.pde

Alice/sketch_160124a/pg11.txt

BlobPhysics/sketch_160828a/jake.jpg

*.png

*.jpg

*.tif

*.tiff

IK Project/jellyfish.jpg

*.mov

IK Project.zip

IK Project/jellyfish.jpg

IK Demo/IK_Demo/clock_fast 9.22.24 PM.mov

IK Demo/IK_Demo/clock_fast 9.22.24 PM.mov

*.mov

*.mov
