<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<header class="w3-container w3-theme w3-padding" id="myHeader">
	<h1 class="w3-xxxlarge w3-animate-bottom">Concert Details</h1>

</header>

<div id = class="w3-padding-32">
	<p><b>Artist:</b> <%= concerts.artist %></p>
	<p><b>Venue:</b> <%= concerts.venue %></p>
	<p><b>Date:</b> <%= concerts.date %></p>
	<p><b>Rating:</b> <%= concerts.rating %></p>
</div>